@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

body {
  position: relative;
  left: 30%;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  background: #cfdaf6;
  width: 1000px;


  div.container {
    width: 70%;
    height: 450px;
    background: #ffd966;
  }

  div.product_image_section {
    position: relative;
    z-index: 100;
    left: 25%
  }


  .product_details_mid_section {
    background: white;
    position: relative;
    bottom: 100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
  }

  .product_name_section {
    position: relative;
    padding-top: 100px;
    padding-left: 10%;
  }

  .product_price_section {
    display: flex;
    align-items: center;
    margin: 8%;
    justify-content: space-between;

    span.product_weight {}

    span.product_price {
      background-color: aliceblue;
      font-weight: bold;
      padding: 14px 20px;
      border-radius: 10px;
      font-size: 20px
    }

    .product_btn_control_section {
      display: flex;

    }


  }

  .product_detail_section {
    margin-top: 30px;

    .product_delivery_details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      margin: 15px;
      font-size: large;
      font-weight: bold;
    }
  }

  .product_about_section {
  }

  .product_read_section{
    color: #00866e;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }

}
}



// div.header-row {
//   display: flex;
//   align-items: center;
//   padding-left: 30px;
//   padding-right: 30px;
//   color: #f9ffff;
// }

// div.top {
//   padding-top: 35px;
//   padding-bottom: 70px;
//   border-top-right-radius: 30px;
//   border-top-left-radius: 30px;
//   background: linear-gradient(to bottom, #1ab6ff 0%, #39c9fd 30%, #109bf2 100%);
// }


// .App {
//   text-align: center;
//   max-width: 100%;
//   overflow-x: hidden;

//   .product_image_header {
//     background: #ffd966;

//   }

//   .product_image {
//     width: 400px;
//   }

//   .product_image_section {
//     position: relative;
//     z-index: 100;
//   }

//   .product_details_mid_section {
//     background: white;
//     border-radius: 25px;
//     position: relative;
//     bottom: 100px;
//   }

//   .product_name_section {
//     font-weight: bold;
//     position: relative;
//     top: 70px;
//     left: 35%;
//     text-align: left;

//     .product_title {
//       color: #706f7d
//     }
//   }

//   .product_price_section {
//     position: relative;
//     justify-content: space-around;
//     top: 70px;
//     display: flex;
//   }


//   .product_quantity_control{
//     display: flex;
//     margin-right: 50vh;
//     p{
//       background-color: #0d7fa5;
//     }
//   }
//   .product_btn_controll_section {
//     top: 70px;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     display: flex;
//   }

//   .product_detail_section {
//     top: 80px;
//     position: relative;
//   }

//   .product_about_section {
//     top: 80px;
//     position: relative;
//   }

//   .product_read_section {
//     cursor: pointer;
//   }
// }